html {
    font-family: Arial;
    margin: 0;
}

html a {
    text-decoration: none;
}

body {
    background-color: rgb(27, 109, 108);
    margin: 0;
    padding: 0;
}

.header {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    background-color: whitesmoke;
    height: 50px;
    width: 100%;
    top: -10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    z-index: 10000000000000000000000000;

}

.hlist {
    position: relative;
    top: 15px;
    left: 100px;
    display: inline;
    padding: 17.5px;
    padding-top: 14.5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -5px;
    font-weight: bold;




}

.hlist:hover {
    background-color: lightgray;
}

.hlist a {
    color: black;
    text-decoration: none;
    height: 100px;
}

.logo {
    width: 90px;
    margin-left: 10px;
    position: absolute;
}

.NewsImage {
    position: relative;
    width: 35%;
    left: 60%;
    border-radius: 10px;
}

.Headline {
    font-size: 2.5vw;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
}

.NewsText {
    font-size: 1.5vw;
    width: 35%;
    position: absolute;
    top: 40%;
    left: 10%;
}

.BottomMenus {
    background-color: whitesmoke;
    height: 100%;
    margin: 0;
    position: relative;

}

.BottomFlex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.flex {
    margin: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #E8E8E8;
    border-radius: 3px;
    height: 40vh;

}


@media screen and (max-width: 750px) {
    .BottomFlex {
        display: block;
        width: 100%;
        justify-content: center;
    }
    .flex {

        width: 80%;
        margin: 20px auto;


    }
}

.BottomFlex {
    padding-top: 1vw;
    padding-bottom: 1vw;

    margin-top: 1vw;
    margin-bottom: 1vw;
}

.menuitem {
    margin: 10px;
    margin-top: 20px;
    height: 5vh;
    width: auto;
    color: rgb(27, 109, 108);
    background-color: whitesmoke;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
    position: relative;
    border-radius: 5px;

}

.menutitle {
    margin: 10px;
    height: 5vh;
    width: auto;
    color: #303030;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    position: relative;
}

/* Footer */

#footer {
    background-color: whitesmoke;
}

#footer-socialmedia {
    list-style-type: none;
    text-align: center;
}

.footer-socialmedia-links {
   
}
.footer-socialmedia-list {
    display: inline;
}

#roosterModal {
    position: absolute;
    top: 100px;
}

#wijzigingenModal {
    position: absolute;
    top: 100px;
    
}

.agendaFrame {
    height: 100%;
    width: 100%;
}